body {
  width: 100%;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
input,
button {
  margin: 0;
  padding: 0;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
@font-face {
  font-family: "微软雅黑";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/fontawesome-webfont.eot?v=#4.0.3");
  src: url("fonts/fontawesome-webfont.eot?#iefix&v=#4.0.3") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff?v=#4.0.3") format("woff"), url("fonts/fontawesome-webfont.ttf?v=#4.0.3") format("truetype"), url("fonts/fontawesome-webfont.svg#fontawesomeregular?v=#4.0.3") format("svg");
}
html,
body,
#container {
  height: 100%;
}
body {
  background: #fff;
  font: 14px Arial, "open sans", "Helvetica Neue", Helvetica Neue, Helvetica, Hiragino Sans GB, Microsoft Yahei, sans-serif;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizelegibility;
}
::selection {
  background: #00aced;
  color: #fff;
}
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
  color: #00aced;
}
#rocket {
  position: fixed;
  right: 50px;
  bottom: 60px;
  display: block;
  visibility: hidden;
  width: 26px;
  height: 48px;
  background: url("images/rocket.png") no-repeat 50% 0;
  opacity: 0;
  -webkit-transition: visibility 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335), opacity 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335), -webkit-transform 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  -moz-transition: visibility 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335), opacity 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335), -moz-transform 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  -webkit-transition: visibility 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335), opacity 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335), -webkit-transform 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  -moz-transition: visibility 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335), opacity 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335), -moz-transform 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  -ms-transition: visibility 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335), opacity 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335), -ms-transform 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: visibility 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335), opacity 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335), transform 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}
@media screen and (max-width: 479px) {
  #rocket {
    right: 12px;
    bottom: 20px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  #rocket {
    right: 12px;
    bottom: 20px;
  }
}
#rocket #rocket i {
  display: block;
  margin-top: 48px;
  height: 14px;
  background: url("images/rocket.png") no-repeat 50% -48px;
  opacity: 0.5;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  -ms-transition: -ms-transform 0.2s;
  transition: transform 0.2s;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
#rocket:hover {
  background-position: 50% -62px;
}
#rocket:hover i {
  background-position: 50% 100%;
  -webkit-animation: flaming 0.7s infinite;
  -moz-animation: flaming 0.7s infinite;
  -webkit-animation: flaming 0.7s infinite;
  -moz-animation: flaming 0.7s infinite;
  -ms-animation: flaming 0.7s infinite;
  animation: flaming 0.7s infinite;
}
#rocket.show {
  visibility: visible;
  opacity: 1;
}
#rocket.launch {
  background-position: 50% -62px;
  opacity: 0;
  -webkit-transform: translateY(-500px);
  -moz-transform: translateY(-500px);
  -ms-transform: translateY(-500px);
  -webkit-transform: translateY(-500px);
  -moz-transform: translateY(-500px);
  -ms-transform: translateY(-500px);
  transform: translateY(-500px);
  pointer-events: none;
}
#rocket.launch i {
  background-position: 50% 100%;
  -webkit-transform: scale(1.4, 3.2);
  -moz-transform: scale(1.4, 3.2);
  -webkit-transform: scale(1.4, 3.2);
  -moz-transform: scale(1.4, 3.2);
  -ms-transform: scale(1.4, 3.2);
  transform: scale(1.4, 3.2);
}
#menu-switch {
  display: block;
  position: fixed;
  right: 49px;
  bottom: 20px;
  padding: 0.2em 0 0.2em 0.2em;
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #999;
  opacity: 0.6;
}
@media screen and (max-width: 479px) {
  #menu-switch {
    display: none;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  #menu-switch {
    display: none;
  }
}
#menu-switch:hover {
  background: #f3f3f3;
  opacity: 1;
}
.toc-hide {
  visibility: hidden !important;
  opacity: 0 !important;
}
.outer {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
}
.outer:before,
.outer:after {
  content: "";
  display: table;
}
.outer:after {
  clear: both;
}
.inner {
  display: inline;
  float: left;
  width: 98.0392156862745%;
  margin: 0 0.980392156862745%;
}
.left,
.alignleft {
  float: left;
}
.right,
.alignright {
  float: right;
}
.clear {
  clear: both;
}
#container {
  position: relative;
}
.mobile-nav-on {
  overflow: hidden;
}
#wrap {
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  z-index: 1;
  background: #fff;
}
.mobile-nav-on #wrap {
  left: 280px;
}
@media screen and (min-width: 768px) {
  #main {
    display: inline;
    float: left;
    width: 73.0392156862745%;
    margin: 0 0.980392156862745%;
  }
}
.article-date,
.article-category-link,
.article-views,
.archive-year,
.archive-tag,
.archive-category,
.widget-title {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #999;
  margin-bottom: 1em;
  margin-left: 5px;
  line-height: 1em;
  font-weight: bold;
}
.article-inner {
  background: #fff;
  border: 1px solid #eef1f8;
  border-radius: 3px;
}
.article-inner-night {
  background: #1d1e1f;
}
.article-entry h1,
.widget h1 {
  font-size: 25px;
}
.article-entry h2,
.widget h2 {
  font-size: 23px;
}
.article-entry h3,
.widget h3 {
  font-size: 20px;
}
.article-entry h4,
.widget h4 {
  font-size: 17px;
}
.article-entry h5,
.widget h5 {
  font-size: 1em;
}
.article-entry h6,
.widget h6 {
  font-size: 1em;
  color: #999;
}
@media screen and (max-width: 479px) {
  .article-entry h1,
  .widget h1 {
    font-size: 22px;
  }
  .article-entry h2,
  .widget h2 {
    font-size: 20px;
  }
  .article-entry h3,
  .widget h3 {
    font-size: 18px;
  }
  .article-entry h4,
  .widget h4 {
    font-size: 16px;
  }
  .article-entry h5,
  .widget h5 {
    font-size: 1em;
  }
  .article-entry h6,
  .widget h6 {
    font-size: 1em;
  }
}
.article-entry hr,
.widget hr {
  border: 1px dashed #eef1f8;
}
.article-entry strong,
.widget strong {
  font-weight: bold;
}
.article-entry em,
.widget em,
.article-entry cite,
.widget cite {
  font-style: italic;
}
.article-entry sup,
.widget sup,
.article-entry sub,
.widget sub {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.article-entry sup,
.widget sup {
  top: -0.5em;
}
.article-entry sub,
.widget sub {
  bottom: -0.2em;
}
.article-entry small,
.widget small {
  font-size: 0.85em;
}
.article-entry acronym,
.widget acronym,
.article-entry abbr,
.widget abbr {
  border-bottom: 1px dotted;
}
.article-entry ul,
.widget ul,
.article-entry ol,
.widget ol,
.article-entry dl,
.widget dl {
  margin: 0 20px;
  line-height: 1.6em;
}
.article-entry ul ul,
.widget ul ul,
.article-entry ol ul,
.widget ol ul,
.article-entry ul ol,
.widget ul ol,
.article-entry ol ol,
.widget ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
.article-entry ul,
.widget ul {
  list-style: circle;
}
.article-entry ol,
.widget ol {
  list-style: decimal;
}
.article-entry dt,
.widget dt {
  font-weight: bold;
}
.navigater-list>a:hover {
  color: #00aced;
  border-bottom: 5px solid #00aced;
  text-decoration: none;
}
.hr {
  background: #00aced;
}
.carousel-fade .carousel-inner .item {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  left: 0;
  opacity: 0;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -ms-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -ms-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
.carousel-fade .carousel-inner .item > img {
  left: 0;
  position: relative;
  max-width: 1000000000%;
}
.carousel-fade .carousel-inner .active {
  left: 0;
  opacity: 1;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -ms-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  left: 0;
  opacity: 1;
}
.carousel {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
.carousel-inner {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
.glyphicon-chevron-left:before {
  content: "" !important;
}
.glyphicon-chevron-right:before {
  content: "" !important;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .item.next,
  .carousel-fade .carousel-inner > .item.active.right {
    left: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.prev,
  .carousel-fade .carousel-inner > .item.active.left {
    left: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.next.left,
  .carousel-fade .carousel-inner > .item.prev.right,
  .carousel-fade .carousel-inner > .item.active {
    left: 0;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus {
  border-bottom: 5px solid #00aced;
  color: #00aced !important;
}
.navbar-inner {
  min-height: 90px;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.1);
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  border-top: 2px solid #00aced;
}
.brand {
  float: left;
  display: block;
  position: absolute;
  z-index: 1500;
  font-size: 20px;
  font-weight: 200;
  color: #555;
  border-style: solid;
  border-color: rgba(24,24,21,0.07);
  border-width: 0 8px 8px 8px;
}
@media screen and (max-width: 479px) {
  .brand {
    display: inline;
    margin-left: -70px;
    left: 50%;
  }
}
.brand p {
  margin: 0;
  padding: 0 20px 0 20px;
  color: #1d1d1b;
  height: 88px;
  line-height: 86px;
  text-transform: capitalize;
  font-family: "华文中宋", serif;
  font-weight: bold;
  font-size: 27px;
  letter-spacing: 0.2px;
}
.brand p:first-letter {
  font-size: 160%;
  background: #000;
  color: #fff;
  padding: 0 0.2em 0 0.2em;
  margin: 0 3px 0 0;
}
#search-form-wrap {
  height: 50px;
}
#search-form-wrap .search-form {
  position: relative;
  height: 100%;
}
#search-form-wrap .search-form .search-form-input {
  padding: 0 30px 0 15px;
  height: 100% !important;
}
#search-form-wrap .search-form .search-form-input::-webkit-search-results-decoration,
#search-form-wrap .search-form .search-form-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
#search-form-wrap .search-form .search-form-submit {
  top: 50%;
  right: 10px;
  border: none;
  background: none;
  cursor: pointer;
  margin-top: -12px;
  position: absolute;
  font-family: 'FontAwesome';
}
#search-form-wrap .search-form .search-form-submit:before {
  color: #555;
  content: '\f002';
}
@media screen and (max-width: 479px) {
  #search-form-wrap .search-form .search-form-submit:before {
    color: #fff;
  }
}
#search-form-wrap .search-form .search-form-submit:hover,
#search-form-wrap .search-form .search-form-submit:focus {
  color: #00aced;
}
.search-form-input,
.search-form-input.ins-search-input,
.search-form-input.st-ui-search-input,
.search-form-input.st-default-search-input {
  -webkit-appearance: textarea;
  -webkit-appearance: textarea;
  -moz-appearance: textarea;
  appearance: textarea;
  padding: 0;
  width: 45px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #444;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: auto !important;
  line-height: 1.6em;
  outline: none !important;
  background: none !important;
  font: 14px -apple-system, "Arial", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  border: 0px;
}
.search-form-input:focus,
.search-form-input.ins-search-input:focus,
.search-form-input.st-ui-search-input:focus,
.search-form-input.st-default-search-input:focus {
  border-color: #0e83cd !important;
}
.search-form-input::-webkit-search-results-decoration,
.search-form-input.ins-search-input::-webkit-search-results-decoration,
.search-form-input.st-ui-search-input::-webkit-search-results-decoration,
.search-form-input.st-default-search-input::-webkit-search-results-decoration,
.search-form-input::-webkit-search-cancel-button,
.search-form-input.ins-search-input::-webkit-search-cancel-button,
.search-form-input.st-ui-search-input::-webkit-search-cancel-button,
.search-form-input.st-default-search-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.article {
  color: #555;
  margin: 50px 0;
  -webkit-transition: width 0.1s;
  -moz-transition: width 0.1s;
  -ms-transition: width 0.1s;
  transition: width 0.1s;
  -moz-transition: width 0.1s;
/* Firefox 4 */
  -webkit-transition: width 0.1s;
/* Safari and Chrome */
  -o-transition: width 0.1s;
/* Opera */
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out; /* Firefox 4 */
  -webkit-transition-timing-function: ease-out; /* Safari 和 Chrome */
  -o-transition-timing-function: ease-out; /* Opera */
}
@media screen and (max-width: 479px) {
  .article {
    width: 100% !important;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .article {
    width: 100% !important;
  }
}
.article-inner {
  overflow: hidden;
  border: 0px solid #eef1f8;
}
.article-inner-night {
  overflow: hidden;
  border: 0px solid #eef1f8;
}
.article-inner h1,
.article-inner h2,
.article-inner h3,
.article-inner h4,
.article-inner h5,
.article-inner h6,
.article-inner .h1,
.article-inner .h2,
.article-inner .h3,
.article-inner .h4,
.article-inner .h5,
.article-inner .h6 {
  font-family: Arial, "Hiragino Sans GB", "Microsoft YaHei Light", "微软雅黑", SimSun, "宋体", Helvetica, Tahoma, "Arial sans-serif";
}
.article-meta {
  text-align: center;
  font-size: 0.9em;
  margin: 1.5em 0 0em 0;
}
.article-meta:before,
.article-meta:after {
  content: "";
  display: table;
}
.article-meta:after {
  clear: both;
}
@media screen and (max-width: 479px) {
  .article-meta {
    font-size: 12px;
  }
}
.article-date {
  text-align: center;
  font-weight: normal;
}
.article-date:before {
  font-family: "FontAwesome";
  content: "\f073";
}
@media screen and (max-width: 479px) {
  .article-date:before {
    display: none;
  }
}
.article-date:hover {
  color: #00aced;
}
.article-category {
  text-align: center;
  line-height: 1em;
  color: #ccc;
  margin-left: 8px;
}
.article-category:before {
  content: "\2022";
}
.article-category-link {
  margin: 0 12px 1em;
  font-weight: normal;
}
@media screen and (max-width: 479px) {
  .article-category-link {
    margin: 0 0.5em 1em;
  }
}
.article-category-link:before {
  font-family: "FontAwesome";
  content: "\f07c";
  padding-right: 0.3em;
}
@media screen and (max-width: 479px) {
  .article-category-link:before {
    display: none;
  }
}
.article-category-link:hover {
  color: #00aced;
}
.article-views {
  text-align: center;
  font-weight: normal;
}
.article-views:before {
  font-family: "FontAwesome";
  content: "\f06e";
}
@media screen and (max-width: 479px) {
  .article-views:before {
    display: none;
  }
}
.article-views:hover {
  color: #00aced;
}
.article-date,
.article-category-link,
.article-views,
.archive-year,
.archive-tag,
.archive-category,
.widget-title {
  text-transform: inherit;
  letter-spacing: 1px;
  color: #999;
}
@media screen and (max-width: 479px) {
  .article-date,
  .article-category-link,
  .article-views,
  .archive-year,
  .archive-tag,
  .archive-category,
  .widget-title {
    letter-spacing: 0.5px;
  }
}
.article-header {
  text-align: center;
}
.article-header h1 {
  font-size: 25px;
  font-weight: bold;
  font-family: Arial, "Hiragino Sans GB", "Microsoft YaHei Light", "微软雅黑", SimSun, "宋体", Helvetica, Tahoma, "Arial sans-serif";
}
@media screen and (max-width: 479px) {
  .article-header h1 {
    font-weight: normal;
  }
}
.article-header .thumb {
  font-size: 23px;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (max-width: 479px) {
  .article-header .thumb {
    color: #333;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 15px;
  }
}
.article-title {
  text-decoration: none;
  font-weight: bold;
  color: #333;
  line-height: 1em;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
}
a.article-title:hover {
  color: #00aced;
  text-decoration: none;
}
.article-entry {
  color: #444;
  margin: 0 20px;
}
.article-entry:before,
.article-entry:after {
  content: "";
  display: table;
}
.article-entry:after {
  clear: both;
}
@media screen and (max-width: 479px) {
  .article-entry {
    margin: 0;
  }
}
.article-entry p,
.article-entry table {
  line-height: 1.6em;
  margin: 1.6em 0;
}
.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
  font-weight: bold;
}
.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
  line-height: 1em;
  margin: 0;
  padding: 1em 0 0;
}
.article-entry a {
  color: #0e83cd;
  text-decoration: none;
}
.article-entry a:hover {
  color: #00aced;
  text-decoration: none;
}
.article-entry ul,
.article-entry ol,
.article-entry dl {
  margin-top: 1.6em;
  margin-bottom: 1.6em;
}
.article-entry img,
.article-entry video {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
.article-entry iframe {
  border: none;
}
.article-entry table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.article-entry th {
  font-weight: bold;
  border-bottom: 3px solid #eef1f8;
  padding-bottom: 0.5em;
}
.article-entry td {
  border-bottom: 1px solid #eef1f8;
  padding: 10px 0;
}
.article-entry blockquote {
  padding: 0.1px 20px;
  font-family: Arial, "open sans", "Helvetica Neue", Helvetica Neue, Helvetica, Hiragino Sans GB, Microsoft Yahei, sans-serif;
  font-size: 1.1em;
  color: rgba(44,44,44,0.6);
  margin: 1.4em 0px;
  border-left: 2px solid #00aced;
  background: rgba(208,211,248,0.15);
}
.article-entry blockquote p {
  font-size: 14px;
  margin: 15px 0;
}
.article-entry blockquote footer {
  font-size: 14px;
  margin: 1.6em 0;
  font-family: -apple-system, "Arial", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.article-entry blockquote footer cite:before {
  content: "—";
  padding: 0 0.5em;
}
.article-entry .pullquote {
  background: transparent;
  border-left: 0px;
  padding: 10px 25px;
  margin: 18px 0;
  font-style: italic;
  text-align: left;
  width: 45%;
  margin: 0;
}
@media screen and (max-width: 479px) {
  .article-entry .pullquote {
    width: 100%;
  }
}
.article-entry .pullquote p {
  font-family: Georgia, Microsoft JhengHei, "sans serif";
  font-size: 1.2em;
}
.article-entry .pullquote:before {
  float: left;
  font-family: "FontAwesome";
  content: "\f10d";
  margin-left: -0.5em;
}
.article-entry .pullquote:after {
  float: right;
  font-family: "FontAwesome";
  content: "\f10e";
  margin-right: -0.5em;
  margin-top: -1em;
}
.article-entry .pullquote.left {
  margin-left: 0.5em;
  margin-right: 1em;
}
.article-entry .pullquote.right {
  margin-right: 0.5em;
  margin-left: 1em;
}
.article-entry .caption {
  color: #999;
  display: block;
  font-size: 0.8em;
  margin-top: 0.5em;
  position: relative;
  text-align: center;
}
.article-entry .video-container {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
}
.article-entry .video-container iframe,
.article-entry .video-container object,
.article-entry .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
.article-more-link a {
  display: inline-block;
  font-size: 0.9em;
  line-height: 1em;
  padding: 8px 15px;
  border-radius: 15px;
  background: #f9fbfd;
  border: 1px solid #eef1f8;
  color: #00aced;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.article-more-link a:hover {
  background: #00aced;
  color: #fff;
  text-decoration: none;
}
.article-footer {
  font-size: 0.85em;
  line-height: 1.6em;
  border-top: 1px solid rgba(208,211,248,0.25);
  padding-top: 1.6em;
  margin: 0 20px 20px;
}
.article-footer:before,
.article-footer:after {
  content: "";
  display: table;
}
.article-footer:after {
  clear: both;
}
@media screen and (max-width: 479px) {
  .article-footer {
    margin: 0 0;
  }
}
.article-footer a {
  color: #999;
  text-decoration: none;
}
.article-footer a:hover {
  color: #444;
}
.article-tag-list-item {
  float: left;
  margin-right: 10px;
}
.article-tag-list-link:before {
  font-family: "FontAwesome";
  content: "\f0c6";
  padding-right: 0.3em;
}
.article-comment-link {
  float: right;
}
.article-comment-link:before {
  content: "\f075";
  font-family: FontAwesome;
  padding-right: 8px;
}
.article-share-link {
  cursor: pointer;
  float: right;
  margin-left: 20px;
}
.article-share-link:before {
  content: "\f064";
  font-family: FontAwesome;
  padding-right: 6px;
}
#article-nav {
  position: relative;
}
#article-nav:before,
#article-nav:after {
  content: "";
  display: table;
}
#article-nav:after {
  clear: both;
}
@media screen and (min-width: 768px) {
  #article-nav {
    margin: 50px 0;
  }
  #article-nav:before {
    width: 8px;
    height: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -4px;
    margin-left: -4px;
    content: "";
    border-radius: 50%;
    background: #eef1f8;
    -webkit-box-shadow: 0 1px 2px #fff;
    box-shadow: 0 1px 2px #fff;
  }
}
.article-nav-link-wrap {
  text-decoration: none;
  color: #999;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 50px;
  text-align: center;
  display: block;
}
.article-nav-link-wrap:hover {
  color: #444;
}
@media screen and (min-width: 768px) {
  .article-nav-link-wrap {
    width: 50%;
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  #article-nav-newer {
    float: left;
    text-align: right;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  #article-nav-older {
    float: right;
    text-align: left;
    padding-left: 20px;
  }
}
.article-nav-caption {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #eef1f8;
  line-height: 1em;
  font-weight: bold;
}
#article-nav-newer .article-nav-caption {
  margin-right: -2px;
}
.article-nav-title {
  font-size: 0.85em;
  line-height: 1.6em;
  margin-top: 0.5em;
}
.article-share-box {
  position: absolute;
  display: none;
  background: #fff;
  -webkit-box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
  box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
  border-radius: 3px;
  margin-left: -145px;
  overflow: hidden;
  z-index: 1;
}
.article-share-box.on {
  display: block;
}
.article-share-input {
  width: 100%;
  background: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: 14px -apple-system, "Arial", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  padding: 0 15px;
  color: #444;
  outline: none;
  border: 1px solid #eef1f8;
  border-radius: 3px 3px 0 0;
  height: 36px;
  line-height: 36px;
}
.article-share-links {
  background: #fff;
}
.article-share-links:before,
.article-share-links:after {
  content: "";
  display: table;
}
.article-share-links:after {
  clear: both;
}
.article-share-twitter,
.article-share-facebook,
.article-share-pinterest,
.article-share-google {
  width: 50px;
  height: 36px;
  display: block;
  float: left;
  position: relative;
  color: #999;
}
.article-share-twitter:before,
.article-share-facebook:before,
.article-share-pinterest:before,
.article-share-google:before {
  font-size: 20px;
  font-family: FontAwesome;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  text-align: center;
}
.article-share-twitter:hover,
.article-share-facebook:hover,
.article-share-pinterest:hover,
.article-share-google:hover {
  color: #fff;
}
.article-share-twitter:before {
  content: "\f099";
}
.article-share-twitter:hover {
  background: color-twitter;
}
.article-share-facebook:before {
  content: "\f09a";
}
.article-share-facebook:hover {
  background: color-facebook;
}
.article-share-pinterest:before {
  content: "\f0d2";
}
.article-share-pinterest:hover {
  background: color-pinterest;
}
.article-share-google:before {
  content: "\f0d5";
}
.article-share-google:hover {
  background: color-google;
}
.article-gallery {
  background: transparent;
  position: relative;
}
.article-gallery-photos {
  position: relative;
  overflow: hidden;
  margin: 20px;
}
@media screen and (max-width: 479px) {
  .article-gallery-photos {
    margin: 20px 0;
  }
}
.article-gallery-img {
  display: none;
  max-width: 100%;
}
.article-gallery-img:first-child {
  display: block;
}
.article-gallery-img.loaded {
  position: absolute;
  display: block;
}
.article-gallery-img img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  #toc-sidebar {
    display: inline;
    float: left;
    width: 23.03921568627451%;
    margin: 0 0.980392156862745%;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -ms-transition-timing-function: linear;
    transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    visibility: visible;
    opacity: 1;
  }
}
@media screen and (max-width: 479px) {
  #toc-sidebar {
    display: none;
  }
}
.toc-article {
  position: absolute;
  border-left: rgba(88,88,88,0.1) 1px solid;
  margin: 50px 0;
  padding: 1em 1em 0 1em;
}
.toc-title {
  font-size: 120%;
}
#toc {
  width: inherit;
  line-height: 1em;
  font-size: 0.9em;
  float: left;
  overflow-x: hidden;
  overflow-y: auto;
}
@media screen and (max-width: 479px) {
  #toc {
    display: none;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  #toc {
    display: none;
  }
}
.toc-fixed {
  position: fixed;
  top: 30px;
  margin-top: 0;
  max-height: auto;
  overflow: hidden;
  z-index: 1;
}
.nav {
  padding: 0;
  margin: 1em;
  line-height: 1.8em;
}
.nav li a:hover,
.nav list-style-type none a:hover {
  background-color: transparent !important;
}
.nav .active > a {
  color: #00aced;
}
.nav-link {
  font-family: 'HanHei SC', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'Microsoft Yahei Light', 'STHeitiSC-Light', 'Arial', sans-serif;
  color: #777;
  padding: 1px !important;
}
.nav-link:hover {
  color: #00aced;
}
.nav-child {
  margin-left: 1em;
}
#comments {
  padding: 20px;
  margin: 50px 0;
}
#comments a {
  color: #0e83cd;
}
.archives-wrap {
  margin: 50px 0;
}
.archives {
  margin-left: 2em;
}
.archives:before,
.archives:after {
  content: "";
  display: table;
}
.archives:after {
  clear: both;
}
@media screen and (max-width: 479px) {
  .archives {
    margin-left: 0.5em;
  }
}
.archive-year-wrap {
  margin-bottom: 1em;
}
.archive-year-wrap h1 {
  font-size: 1.3em;
}
.archive-year {
  color: #00aced;
}
.archive-year:hover {
  color: #00aced;
}
.archive-year:before {
  font-family: "FontAwesome";
  content: "\f273";
  margin-right: 0.2em;
}
.archives-tags-wrap {
  margin: 50px 0;
}
.archives-tags-wrap blockquote {
  padding: 1em;
  margin: 4em 0 0 0;
  font-size: 1.2em;
  font-weight: bold;
  color: #33363b;
  text-align: center;
  border-left: 0px solid #00aced;
  background: rgba(208,211,248,0.15);
}
.archives-tags-wrap blockquote a {
  color: #33363b;
  margin: 0.2em;
}
.archives-tags-wrap blockquote a:hover {
  color: #00aced;
}
.archive-tag {
  text-transform: none;
  color: #00aced;
}
.archive-tag:hover {
  color: #00aced;
}
.archive-tag:before {
  font-family: "FontAwesome";
  content: "\f02c";
  margin-right: 0.2em;
}
.archives-category-wrap {
  margin: 50px 0;
}
.archives-category-wrap blockquote {
  padding: 1em;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.7em;
  color: #00aced;
  text-align: left;
  border-left: 0px solid #00aced;
  background: rgba(208,211,248,0.15);
}
.archives-category-wrap blockquote a {
  color: #33363b;
  margin: 0.2em;
}
.archives-category-wrap blockquote a:hover {
  color: #00aced;
}
.archives-category-wrap blockquote a:before {
  font-family: "FontAwesome";
  content: "\f0da";
  margin-right: 0.5em;
}
.archive-category {
  text-transform: none;
  color: #00aced;
}
.archive-category:before {
  font-family: "FontAwesome";
  content: "\f07c";
  margin-right: 0.3em;
}
.archives {
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .archives {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
@media screen and (min-width: 768px) {
  .archives {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
.archive-article {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  overflow: hidden;
  break-inside: avoid-column;
}
@media screen and (max-width: 479px) {
  .archive-article-header {
    display: grid;
  }
}
@media screen and (max-width: 479px) {
  .archive-article-header h1 {
    font-size: 14px;
  }
}
.archive-article-inner {
  padding: 0px;
  margin-bottom: 0px;
}
.archive-article-title {
  text-decoration: none;
  color: #444;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
  line-height: 1.6em;
  border-left: 1px solid #00aced;
  padding-left: 15px;
}
@media screen and (max-width: 479px) {
  .archive-article-title {
    padding-left: 8px;
  }
}
.archive-article-title:hover {
  color: #00aced;
}
.archive-article-footer {
  margin-top: 1em;
}
.archive-article-date {
  min-width: 85px;
  float: left;
  color: #c7c7c7;
  text-decoration: none;
  line-height: 1.6em;
  margin-right: 15px;
  display: block;
  font-size: 1.1em;
  font-family: "futura-pt", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", Microsoft JhengHei, WenQuanYi Micro Hei, "Microsoft YaHei", sans-serif;
}
.archive-article-date:hover {
  color: #00aced;
}
#page-nav {
  margin: 50px auto;
  background: #fff;
  border: 1px solid #eef1f8;
  border-radius: 3px;
  text-align: center;
  color: #999;
}
#page-nav:before,
#page-nav:after {
  content: "";
  display: table;
}
#page-nav:after {
  clear: both;
}
#page-nav a,
#page-nav span {
  padding: 10px 20px;
  line-height: 1;
}
#page-nav a {
  color: #999;
  text-decoration: none;
}
#page-nav a:hover {
  background: #00aced;
  color: #fff;
}
#page-nav .prev {
  float: left;
}
#page-nav .next {
  float: right;
}
#page-nav .page-number {
  display: inline-block;
}
@media screen and (max-width: 479px) {
  #page-nav .page-number {
    display: none;
  }
}
#page-nav .current {
  color: #444;
  font-weight: bold;
}
#page-nav .space {
  color: #eef1f8;
}
#footer {
  width: 100%;
  background: #f0f0f0;
  text-align: center;
  color: #88888b;
  padding: 30px 0 15px;
  line-height: 22px;
  border-color: #e0e0e0;
  font-size: 0.85em;
}
#footer a {
  text-decoration: none;
}
#footer a:hover {
  color: #00aced;
  text-decoration: none;
}
#footer-info {
  line-height: 1.6em;
  font-size: 0.85em;
}
.article-entry pre,
.article-entry .highlight {
  background: #f8f8f8;
  margin: 20px 0px;
  padding: 15px 20px;
  border-style: solid;
  border-color: #eef1f8;
  border-width: 1px 0;
  overflow: auto;
  color: $highlight-foreground;
  font-size: 0.9em;
  line-height: 1em;
}
.article-entry .highlight .gutter pre,
.article-entry .gist .gist-file .gist-data .line-numbers {
  color: #666;
  font-size: 0.85em;
}
figure.highlight::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
figure.highlight::-webkit-scrollbar-thumb {
/*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.2);
  background: rgba(0,0,0,0.1);
}
figure.highlight::-webkit-scrollbar-track {
/*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.2);
  border-radius: 0;
  background: rgba(0,0,0,0);
}
.article-entry pre,
.article-entry code {
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
}
.article-entry code {
  background: rgba(208,211,248,0.2);
  color: #444;
  padding: 0 0.3em;
}
.article-entry pre code {
  background: none;
  text-shadow: none;
  padding: 0;
}
.article-entry .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.article-entry .highlight table {
  margin: 0;
  width: auto;
}
.article-entry .highlight td {
  border: none;
  padding: 0;
}
.article-entry .highlight figcaption {
  font-size: 0.85em;
  color: $highlight-comment;
  line-height: 1em;
  margin-bottom: 1em;
}
.article-entry .highlight figcaption:before,
.article-entry .highlight figcaption:after {
  content: "";
  display: table;
}
.article-entry .highlight figcaption:after {
  clear: both;
}
.article-entry .highlight figcaption a {
  float: right;
}
.article-entry .highlight .gutter pre {
  color: #aaa;
  text-align: right;
  padding-right: 20px;
}
.article-entry .highlight .line {
  height: 1.7em;
}
.article-entry .highlight .line.marked {
  background: $highlight-selection;
}
.article-entry .gist {
  margin: 0 -20px;
  border-style: solid;
  border-color: #eef1f8;
  border-width: 1px 0;
  background: #f8f8f8;
  padding: 15px 20px 15px 0;
}
.article-entry .gist .gist-file {
  border: none;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  margin: 0;
}
.article-entry .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.article-entry .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.article-entry .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.article-entry .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.article-entry .gist .gist-file .gist-meta {
  background: #f8f8f8;
  color: $highlight-comment;
  font: 0.85em -apple-system, "Arial", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
  margin-left: 20px;
}
.article-entry .gist .gist-file .gist-meta a {
  color: #0e83cd;
  font-weight: normal;
}
.article-entry .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
pre .comment,
pre .title {
  color: $highlight-comment;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: $highlight-red;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: $highlight-orange;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: $highlight-green;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: $highlight-green;
}
pre .css .hexcolor {
  color: $highlight-aqua;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: $highlight-blue;
}
pre .keyword,
pre .javascript .function {
  color: $highlight-purple;
}
pre {
  color: #525252;
}
pre .function .keyword,
pre .constant {
  color: #0092db;
}
pre .keyword,
pre .attribute {
  color: #e96900;
}
pre .number,
pre .literal {
  color: #ae81ff;
}
pre .tag,
pre .tag .title,
pre .change,
pre .winutils,
pre .flow,
pre .lisp .title,
pre .clojure .built_in,
pre .nginx .title,
pre .tex .special {
  color: #2973b7;
}
pre .symbol,
pre .symbol .string,
pre .value,
pre .regexp {
  color: #42b983;
}
pre .title {
  color: #83b917;
}
pre .tag .value,
pre .string,
pre .subst,
pre .haskell .type,
pre .preprocessor,
pre .ruby .class .parent,
pre .built_in,
pre .sql .aggregate,
pre .django .template_tag,
pre .django .variable,
pre .smalltalk .class,
pre .javadoc,
pre .django .filter .argument,
pre .smalltalk .localvars,
pre .smalltalk .array,
pre .attr_selector,
pre .pseudo,
pre .addition,
pre .stream,
pre .envvar,
pre .apache .tag,
pre .apache .cbracket,
pre .tex .command,
pre .prompt {
  color: #42b983;
}
pre .comment,
pre .java .annotation,
pre .python .decorator,
pre .template_comment,
pre .pi,
pre .doctype,
pre .shebang,
pre .apache .sqbracket,
pre .tex .formula {
  color: #b3b3b3;
}
pre .deletion {
  color: #ba4545;
}
pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata {
  opacity: 0.5;
}
@media screen and (max-width: 479px) {
  #mobile-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #191919;
    border-right: 1px solid #fff;
  }
}
@media screen and (max-width: 479px) {
  .mobile-nav-link {
    display: block;
    color: #999;
    text-decoration: none;
    padding: 15px 20px;
    font-weight: bold;
  }
  .mobile-nav-link:hover {
    color: #fff;
  }
}
.ins-search {
  display: none;
}
.ins-search.show {
  display: block;
}
.ins-selectable {
  cursor: pointer;
}
.ins-search-mask,
.ins-search-container {
  position: fixed;
}
.ins-search-mask {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0,0,0,0.5);
}
.ins-input-wrapper {
  position: relative;
}
.ins-search-input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: 200;
  border-radius: 0;
  background: #fff;
  line-height: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 12px 28px 12px 20px;
  border-bottom: 1px solid #e2e2e2;
  font-family: "Microsoft Yahei Light", "Microsoft Yahei", Helvetica, Arial, sans-serif;
}
.ins-close {
  top: 50%;
  right: 6px;
  width: 20px;
  height: 20px;
  font-size: 16px;
  margin-top: -11px;
  position: absolute;
  text-align: center;
  display: inline-block;
}
.ins-close:hover {
  color: #00aced;
}
.ins-search-container {
  left: 50%;
  top: 100px;
  z-index: 101;
  bottom: 100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 540px;
  margin-left: -270px;
}
@media screen and (max-width: 559px), screen and (max-height: 479px) {
  .ins-search-container {
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: #f7f7f7;
  }
}
.ins-section-wrapper {
  left: 0;
  right: 0;
  top: 45px;
  bottom: 0;
  overflow-y: auto;
  position: absolute;
}
.ins-section-container {
  position: relative;
  background: #f7f7f7;
}
.ins-section {
  font-size: 14px;
  line-height: 16px;
}
.ins-section .ins-section-header,
.ins-section .ins-search-item {
  padding: 8px 15px;
}
.ins-section .ins-section-header {
  color: #9a9a9a;
  border-bottom: 1px solid #e2e2e2;
}
.ins-section .ins-slug {
  margin-left: 5px;
  color: #9a9a9a;
}
.ins-section .ins-slug:before {
  content: '(';
}
.ins-section .ins-slug:after {
  content: ')';
}
.ins-section .ins-search-item header,
.ins-section .ins-search-item .ins-search-preview {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ins-section .ins-search-item header .fa {
  margin-right: 8px;
}
.ins-section .ins-search-item .ins-search-preview {
  height: 15px;
  font-size: 12px;
  color: #9a9a9a;
  margin: 5px 0 0 20px;
}
.ins-section .ins-search-item:hover,
.ins-section .ins-search-item.active {
  color: #fff;
  background: #00aced;
}
.ins-section .ins-search-item:hover .ins-slug,
.ins-section .ins-search-item.active .ins-slug,
.ins-section .ins-search-item:hover .ins-search-preview,
.ins-section .ins-search-item.active .ins-search-preview {
  color: #fff;
}
@media screen and (min-width: 768px) {
  #sidebar {
    display: inline;
    float: left;
    width: 23.03921568627451%;
    margin: 0 0.980392156862745%;
  }
}
@media screen and (max-width: 479px) {
  #sidebar {
    display: none;
  }
}
.widget-wrap {
  margin: 50px 0;
}
.widget {
  color: #777;
  background: transparent;
  border: 1px solid rgba(58,61,98,0.1);
  padding: 15px;
  border-radius: 3px;
}
.widget a {
  color: #555;
  text-decoration: none;
}
.widget a:hover {
  color: #00aced;
  text-decoration: none;
}
.widget ul ul,
.widget ol ul,
.widget dl ul,
.widget ul ol,
.widget ol ol,
.widget dl ol,
.widget ul dl,
.widget ol dl,
.widget dl dl {
  margin-left: 15px;
  list-style: disc;
}
.widget_athemes_social_icons li {
  float: left;
}
.widget {
  line-height: 1.6em;
  word-wrap: break-word;
  font-size: 0.9em;
}
.widget ul,
.widget ol {
  list-style: none;
  margin: 0;
}
.widget ul ul,
.widget ol ul,
.widget ul ol,
.widget ol ol {
  margin: 0 20px;
}
.widget ul ul,
.widget ol ul {
  list-style: disc;
}
.widget ul ol,
.widget ol ol {
  list-style: decimal;
}
.category-list-count,
.tag-list-count,
.archive-list-count {
  padding-left: 5px;
  color: #999;
  font-size: 0.85em;
}
.category-list-count:before,
.tag-list-count:before,
.archive-list-count:before {
  content: "(";
}
.category-list-count:after,
.tag-list-count:after,
.archive-list-count:after {
  content: ")";
}
.tagcloud a {
  margin-right: 5px;
  display: inline-block;
}
.widget_athemes_social_icons li {
  padding: 0;
  text-align: center;
  border: none;
}
.widget_athemes_social_icons li a [class^="fa"]:before {
  width: 39px;
  margin: 0;
  font-size: 23px;
  line-height: 40px;
}
[class^="ico-"]:before,
[class*=" ico-"]:before,
[class^="fa-"]:before,
[class*=" fa-"]:before {
  font-family: "athemes-glyphs";
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
/* opacity: .8; */
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0em;
/* font-size: 120%; */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
