<% if (theme.busuanzi_count.enable && theme.busuanzi_count.page_pv){ %>
	<span class="article-counter"><%- theme.busuanzi_count.page_pv_header %><span id="busuanzi_value_page_pv" style="margin-left: 5px;"></span><%- theme.busuanzi_count.page_pv_footer %></span>&nbsp;visitors
<% }%>

