<% if (post.comments){ %>
  <% if (theme.duoshuo_shortname){ %>
      <a href="<%- url_for(post.path) %>#comment" itemprop="discussionUrl" class="article-comments">
        <span class="ds-thread-count" data-thread-key="<%- post.path %>" itemprop="commentsCount" data-count-type="comments"></span>
      </a>
  <% } else if (theme.disqus_shortname){ %>
      <a href="<%- url_for(post.path) %>#comment" itemprop="discussionUrl" class="article-comments">
        <span class="disqus-comment-count" data-disqus-identifier="<% post.path %>" itemprop="commentsCount"></span>
      </a>
  <% }%>
<% }%>