// Config
support-for-ie = false
vendor-prefixes = webkit moz ms official

// Colors
color-default = #444
color-grey = #999
color-black = #33363b
color-border = #eef1f8
color-link = #0e83cd
color-link-bg = #f9fbfd
color-link-hover = color-theme
color-background = #fff
color-code-background = #f8f8f8
color-sidebar-text = #777
color-widget-background = #ddd
color-widget-border = rgba(58,61,98,0.1)
color-footer-background = #f0f0f0
color-mobile-nav-background = #191919
color-theme-blue-twitter = #00aced
color-theme-red = #ff7e79
color-theme-orange = #fb6d19
color-theme-green = #39aa56
color-theme-green-light = #42b983
color-theme-black = #414141

// Theme
color-theme = color-theme-orange

random(min,max)
  return floor(math(0, 'random')*(max - min + 1) + min)

theme_color = hexo-config("theme_color")

if theme_color and theme_color is 'random'
  num = random(0, 5)
  if num == 0
    color-theme = color-theme-green
  if num == 1
    color-theme = color-theme-black
  if num == 2
    color-theme = color-theme-green-light
  if num == 3
    color-theme = color-theme-red
  if num == 4
    color-theme = color-theme-blue-twitter
  if num == 5
    color-theme = color-theme-orange
else if theme_color is 'orange'
  color-theme = color-theme-orange
else if theme_color is 'blue'
  color-theme = color-theme-blue-twitter
else if theme_color is 'red'
  color-theme = color-theme-red
else if theme_color is 'green'
  color-theme = color-theme-green
else if theme_color is 'black'
  color-theme = color-theme-black


// Fonts
font-sans = -apple-system, "Arial", BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif
font-normal = Arial,"open sans", "Helvetica Neue",Helvetica Neue,Helvetica,Hiragino Sans GB,Microsoft Yahei, sans-serif;
font-serif = Georgia, "Arial", "Times New Roman", serif
font-mono = "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace
font-apple-pingfang = 'HanHei SC', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'Microsoft Yahei Light', 'STHeitiSC-Light', 'Arial', sans-serif
font-futura-pt = "futura-pt", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", Microsoft JhengHei, WenQuanYi Micro Hei, "Microsoft YaHei", sans-serif
font-article-header = Arial, "Hiragino Sans GB", "Microsoft YaHei Light", "微软雅黑", SimSun, "宋体", Helvetica, Tahoma, "Arial sans-serif"
font-icon = FontAwesome
font-icon-path = "fonts/fontawesome-webfont"
font-icon-version = "4.0.3"
font-size = 14px
line-height = 1.6em
line-height-title = 1em

// Header
logo-size = 40px
subtitle-size = 16px
banner-height = 300px
banner-url = "images/banner.jpg"

sidebar = hexo-config("sidebar")

// Layout
block-margin = 50px
article-padding = 20px
mobile-nav-width = 280px
main-column = 9
sidebar-column = 3

if sidebar and sidebar isnt bottom
  _sidebar-column = sidebar-column
  main-column = 9
else
  _sidebar-column = 0
  main-column = 12

// Grids
column-width = 65px
gutter-width = 20px
columns = main-column + _sidebar-column

// Media queries
mq-mobile = "screen and (max-width: 479px)"
mq-tablet = "screen and (min-width: 480px) and (max-width: 767px)"
mq-normal = "screen and (min-width: 768px)"