
body{
	width:100%;
	height:100%;
	padding: 0; 
	margin: 0;
}

html{
	width:100%;
	height:100%;
}

#header {
	height: 100%;
    overflow: hidden;
}

.section-intro {
	display: table;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: #ffffff;
}

.section-content {
	padding-top: 20px;
	padding-bottom: 60px;
	background-color: #ffffff;
}

.intro-logo{
	width: 100%;
	height: 100%;
	margin-bottom: -5px;
	-moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    text-align: center;
    overflow: hidden;
}
.intro-navigate{
	width: 100%;
	min-height: 80px;
	position: absolute;
	bottom: 0px;
	padding-top: 10px;
    padding-bottom: 10px;
	text-align: center;
	background: rgba(255,255,255,.85);
}
.intro-navigate>p{
	text-align: center;
	margin: 0px;
}
.navigater-list{
	font-family: "Microsoft YaHei","微软雅黑",Arial,simsun,"宋体";
	color:#444444;
	font-weight: 100;
	font-size: 1.2em;
}
.navigater-list>a {
	padding: 25px 20px 25px 20px;
	line-height: 60px;
}
.navigater-list>a:hover {
	border-bottom: 5px solid #df303e;
	text-decoration: none;
}
.home-bg{
	width: 100%;
	height: 100%;
	text-align: center;
	position: absolute;
	bottom: 100px;
	background: url(../images/sample.jpg) no-repeat bottom center scroll;
	background-color: #fff;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.blur{	
    filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
    
    -webkit-filter: blur(5px); /* Chrome, Opera */
       -moz-filter: blur(5px);
        -ms-filter: blur(5px);    
            filter: blur(5px);
    
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=5, MakeShadow=false); /* IE6~IE9 */
}

.homelogo{
	max-width: 400px;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	filter:alpha(opacity=90);  -moz-opacity:0.9;  -khtml-opacity: 0.9;  opacity: 0.9;
}
.homelogoback {
	overflow: hidden;
	padding: 20px;
	margin-left: auto;
    margin-right: auto;
	filter:alpha(opacity=90);  -moz-opacity:0.9;  -khtml-opacity: 0.9;  opacity: 0.9;
}
.homelogoback>h1>a {
	color: #000;
	letter-spacing: 9px;
	text-transform: uppercase;
}
    
.thumb{
	display: block;
    height: auto;
    max-width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    line-height: 1.428571429;
    background-color: #fff;
    border: 1px solid #fff;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.thumb:hover{
	opacity: 0.8;
	box-shadow: 5px 15px 30px #e7e7eb;
	border-radius: 4px;
	border: 1px solid #e7e7eb;
}
.image{
	height: 200px; 
	width: auto; 
	overflow: hidden;
}
.image>img{
	height: 100%; 
	width: 100%; 
	display: block;
}

#footer {
	width: 100%;
	background: #303030;
	text-align: center;
	color: #BBB;
	padding: 30px 0 15px;
	line-height: 22px;
}

h1 {
    font-family: -apple-system,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin: 12px 0;
    left: 4px;
}
h3 {
	font-family: 'Roboto Slab', 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;
    color: #555;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: .12em;
    margin-bottom: 30px;
    left: 3px;
}
#beautifont{
	font-family: -apple-system,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}
canvas {
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
a {
    color: #555;
    text-decoration: none;
    transition: color .2s ease;
}
a:hover {
    color: #f33;
    text-decoration: none;
}

footer>.container>.row>p>a {
	color: #ddd;
}
footer>.container>.row>p>a:hover  {
	color: #f33;
}

@media (max-width: 680px) {
	.pagination-lg > li > a, .pagination-lg > li > span {
		padding: 10px 12px;
		font-size: 16px;
	}
	.intro-navigate{
		padding-top: 20px;
    	padding-bottom: 20px;
	}
	.navigater-list>a {
		padding: 5px;
		line-height: 40px;
	}
	.homelogoback>h1>a {
		font-size: 20px;
		font-weight: bold;
		letter-spacing: 5px;
	}
	.homelogoback>h3 {
		font-size: 13px;
	}

}

@media (max-width: 400px) {
	.homelogoback>h1>a {
		font-size: 20px;
		font-weight: bold;
		letter-spacing: 4px;
	}
}
