.archives-wrap
  margin: block-margin 0

.archives
  clearfix()

.archive-year-wrap
  margin-bottom: 1em

.archive-year
  @extend $block-caption

.archives
  column-gap: 10px
  @media mq-tablet
    column-count: 1
  @media mq-normal
    column-count: 1

.archive-article
  avoid-column-break()

.archive-article-inner
  padding: 0px
  margin-bottom: 0px

.archive-article-title
  text-decoration: none
  color: color-default
  transition: color 0.2s
  line-height: line-height
  &:hover
    color: color-link-hover

.archive-article-footer
  margin-top: 1em

.archive-article-date
  min-width: 50px
  float: left
  color: #7f8c8d
  text-decoration: none
  font-size: 1.3em
  line-height: 1.6em
  margin-right: 30px
  display: block

#page-nav
  clearfix()
  margin: block-margin auto
  background: #fff
  border: 1px solid color-border
  border-radius: 3px
  text-align: center
  color: color-grey
  a, span
    padding: 10px 20px
    line-height: 1
  a
    color: color-grey
    text-decoration: none
    &:hover
      background: color-theme-red
      color: #fff
  .prev
    float: left
  .next
    float: right
  .page-number
    display: inline-block
    @media mq-mobile
      display: none
  .current
    color: color-default
    font-weight: bold
  .space
    color: color-border