#coright
  margin-top: block-margin
  blockquote
    border-left-color: color-theme
    background: rgba(208,211,248,0.15)
    a
      color: color-default
      word-wrap: break-word
      &:hover
        color: color-theme