#footer
  width: 100%;
  background: color-footer-background;
  text-align: center;
  color: #88888b;
  padding: 30px 0 15px;
  line-height: 22px;
  border-color: #e0e0e0;
  font-size: 0.85em;
  a
    text-decoration: none
    &:hover
      color: color-theme;
      text-decoration: none

#footer-info
  line-height: line-height
  font-size: 0.85em