avatarEnable = hexo-config("avatar.enable")
avatarUrl = hexo-config("avatar.url")
avatarWidth = hexo-config("avatar.width")
avatarBorder = hexo-config("avatar.border")

if avatarEnable == true
	_display = inline
	_margin = avatarWidth/-2
	_left = 50%
	if avatarBorder
		_margin -= 8
else 
	_display = block
	_margin = 0
	_left = 0%

	



.navbar-nav>li>a:hover, .navbar-nav>li>a:focus
	border-bottom: 5px solid color-theme
	color: color-theme !important

.navbar-inner
	min-height: 90px;
	box-shadow: 0 0 5px rgba(0,0,0,.1);
	border-top: 2px solid color-theme;

.brand
	float: left;
	display: block;
	position: absolute;
	z-index: 1500;
	font-size: 20px;
	font-weight: 200;
	color: #555;
	border-style: solid; 
	border-color: rgba(24,24,21,0.07);
	border-width: 0 8px 8px 8px;
	@media mq-mobile
		display: _display
		margin-left: 1px * _margin;
		left: _left;
	p
		margin: 0;
		padding: 0 20px 0 20px;
		color: #1d1d1b;
		height: 88px;
		line-height: 86px;
		text-transform: capitalize;
		font-family: "华文中宋", serif;
		font-weight: bold;
		font-size: 27px;
		letter-spacing: .2px;
		&:first-letter 
			font-size:160%;
			background: #000;
			color: #fff;
			padding: 0 .2em 0 .2em
			margin: 0 3px 0 0
			







#search-form-wrap
	height: 50px
	.search-form
		position: relative
		height: 100%
		.search-form-input
			padding: 0 30px 0 15px
			height: 100% !important
			&::-webkit-search-results-decoration
			&::-webkit-search-cancel-button
				-webkit-appearance: none
		.search-form-submit
			top: 50%
			right: 10px
			border: none
			background: none
			cursor: pointer
			margin-top: -12px
			position: absolute
			font-family: 'FontAwesome'
			&:before
				color: #555
				content: '\f002'
				@media mq-mobile
					color: #fff
			&:hover, &:focus
				color: color-theme

.search-form-input,
.search-form-input.ins-search-input,
.search-form-input.st-ui-search-input,
.search-form-input.st-default-search-input
	-webkit-appearance: textarea
	appearance: textarea
	padding: 0
	width: 45px
	box-shadow: none
	color: color-default
	transition: 0.2s ease
	box-sizing: border-box
	height: auto !important
	line-height: line-height
	outline: none !important
	background: none !important
	font: font-size font-sans
	border: 0px
	&:focus
		border-color: color-link !important
	&::-webkit-search-results-decoration
	&::-webkit-search-cancel-button
		-webkit-appearance: none