.navbar-nav>li>a:hover, .navbar-nav>li>a:focus {
	border-bottom: 5px solid color-theme
	color: color-theme !important
}

.navbar-inner {
	min-height: 90px;
	box-shadow: 0 0 5px rgba(0,0,0,.1);
	border-top: 2px solid color-theme;
}
.brand {
	float: left;
	display: block;
	position: absolute;
	z-index: 1500;
	font-size: 20px;
	font-weight: 200;
	color: #555;
	border-style: solid; 
	border-color: rgba(24,24,21,0.07);
	border-width: 0 8px 8px 8px;
}