$highlight_theme = hexo-config("highlight_theme")

$highlight-background   = #f8f8f8

if $highlight_theme == "normal"
  $highlight-background   = #f8f8f8
  $highlight-current-line = #efefef
  $highlight-selection    = #d6d6d6
  $highlight-foreground   = #4d4d4c
  $highlight-comment      = #8e908c
  $highlight-red          = #c82829
  $highlight-orange       = #fb6d19
  $highlight-yellow       = #eab700
  $highlight-green        = #718c00
  $highlight-aqua         = #3e999f
  $highlight-blue         = #4271ae
  $highlight-purple       = #8959a8

if $highlight_theme == "night"
  $highlight-background   = #1d1f21
  $highlight-current-line = #282a2e
  $highlight-selection    = #373b41
  $highlight-foreground   = #c5c8c6
  $highlight-comment      = #969896
  $highlight-red          = #cc6666
  $highlight-orange       = #de935f
  $highlight-yellow       = #f0c674
  $highlight-green        = #b5bd68
  $highlight-aqua         = #8abeb7
  $highlight-blue         = #81a2be
  $highlight-purple       = #b294bb

if $highlight_theme == "night eighties"
  $highlight-background   = #2d2d2d
  $highlight-current-line = #393939
  $highlight-selection    = #515151
  $highlight-foreground   = #cccccc
  $highlight-comment      = #999999
  $highlight-red          = #f2777a
  $highlight-orange       = #f99157
  $highlight-yellow       = #ffcc66
  $highlight-green        = #99cc99
  $highlight-aqua         = #66cccc
  $highlight-blue         = #6699cc
  $highlight-purple       = #cc99cc

if $highlight_theme == "night blue"
  $highlight-background   = #002451
  $highlight-current-line = #00346e
  $highlight-selection    = #003f8e
  $highlight-foreground   = #ffffff
  $highlight-comment      = #7285b7
  $highlight-red          = #ff9da4
  $highlight-orange       = #ffc58f
  $highlight-yellow       = #ffeead
  $highlight-green        = #d1f1a9
  $highlight-aqua         = #99ffff
  $highlight-blue         = #bbdaff
  $highlight-purple       = #ebbbff

if $highlight_theme == "night bright"
  $highlight-background   = #000000
  $highlight-current-line = #2a2a2a
  $highlight-selection    = #424242
  $highlight-foreground   = #eaeaea
  $highlight-comment      = #969896
  $highlight-red          = #d54e53
  $highlight-orange       = #e78c45
  $highlight-yellow       = #e7c547
  $highlight-green        = #b9ca4a
  $highlight-aqua         = #70c0b1
  $highlight-blue         = #7aa6da
  $highlight-purple       = #c397d8




//======================================== Original =======================================//

// https://github.com/chriskempson/tomorrow-theme

// $highlight-background = #2d2d2d
// $highlight-current-line = #393939
// $highlight-selection = #515151
// $highlight-foreground = #cccccc
// $highlight-comment = #999999
// $highlight-red = #f2777a
// $highlight-orange = #f99157
// $highlight-yellow = #ffcc66
// $highlight-green = #99cc99
// $highlight-aqua = #66cccc
// $highlight-blue = #6699cc
// $highlight-purple = #cc99cc

$code-block
  background: $highlight-background
  margin: 0 article-padding * 0
  padding: 15px article-padding
  border-style: solid
  border-color: color-border
  border-width: 1px 0
  overflow: auto
  color: $highlight-foreground
  line-height: font-size * line-height

$line-numbers
  color: #666
  font-size: 0.85em

.article-entry
  pre, code
    font-family: font-mono
  code
    background: rgba(208,211,248,0.2)
    color: color-default
    padding: 0 0.3em
  pre
    @extend $code-block
    code
      background: none
      text-shadow: none
      padding: 0
  .highlight
    @extend $code-block
    pre
      border: none
      margin: 0
      padding: 0
    table
      margin: 0
      width: auto
    td
      border: none
      padding: 0
    figcaption
      clearfix()
      font-size: 0.85em
      color: $highlight-comment
      line-height: 1em
      margin-bottom: 1em
      a
        float: right
    .gutter pre
      @extend $line-numbers
      text-align: right
      padding-right: 20px
    .line
      height: font-size * line-height
    .line.marked
      background: $highlight-selection
  .gist
    margin: 0 article-padding * -1
    border-style: solid
    border-color: color-border
    border-width: 1px 0
    background: $highlight-background
    padding: 15px article-padding 15px 0
    .gist-file
      border: none
      font-family: font-mono
      margin: 0
      .gist-data
        background: none
        border: none
        .line-numbers
          @extend $line-numbers
          background: none
          border: none
          padding: 0 20px 0 0
        .line-data
          padding: 0 !important
      .highlight
        margin: 0
        padding: 0
        border: none
      .gist-meta
        background: $highlight-background
        color: $highlight-comment
        font: 0.85em font-sans
        text-shadow: 0 0
        padding: 0
        margin-top: 1em
        margin-left: article-padding
        a
          color: color-link
          font-weight: normal
          &:hover
            text-decoration: underline

pre
  .comment
  .title
    color: $highlight-comment
  .variable
  .attribute
  .tag
  .regexp
  .ruby .constant
  .xml .tag .title
  .xml .pi
  .xml .doctype
  .html .doctype
  .css .id
  .css .class
  .css .pseudo
    color: $highlight-red
  .number
  .preprocessor
  .built_in
  .literal
  .params
  .constant
    color: $highlight-orange
  .class
  .ruby .class .title
  .css .rules .attribute
    color: $highlight-green
  .string
  .value
  .inheritance
  .header
  .ruby .symbol
  .xml .cdata
    color: $highlight-green
  .css .hexcolor
    color: $highlight-aqua
  .function
  .python .decorator
  .python .title
  .ruby .function .title
  .ruby .title .keyword
  .perl .sub
  .javascript .title
  .coffeescript .title
    color: $highlight-blue
  .keyword
  .javascript .function
    color: $highlight-purple


if $highlight_theme == "default" {
    pre {
      color: #525252
    }

    pre .function .keyword,pre .constant {
      color: #0092db
    }

    pre .keyword,pre .attribute {
      color: #e96900
    }

    pre .number,pre .literal {
      color: #ae81ff
    }

    pre .tag,pre .tag .title,pre .change,pre .winutils,pre .flow,pre .lisp .title,pre .clojure .built_in,pre .nginx .title,pre .tex .special {
      color: #2973b7
    }

    pre .symbol,pre .symbol .string,pre .value,pre .regexp {
      color: #42b983
    }

    pre .title {
      color: #83B917
    }

    pre .tag .value,pre .string,pre .subst,pre .haskell .type,pre .preprocessor,pre .ruby .class .parent,pre .built_in,pre .sql .aggregate,pre .django .template_tag,pre .django .variable,pre .smalltalk .class,pre .javadoc,pre .django .filter .argument,pre .smalltalk .localvars,pre .smalltalk .array,pre .attr_selector,pre .pseudo,pre .addition,pre .stream,pre .envvar,pre .apache .tag,pre .apache .cbracket,pre .tex .command,pre .prompt {
      color: #42b983
    }

    pre .comment,pre .java .annotation,pre .python .decorator,pre .template_comment,pre .pi,pre .doctype,pre .shebang,pre .apache .sqbracket,pre .tex .formula {
      color: #b3b3b3
    }

    pre .deletion {
      color: #BA4545
    }

    pre .coffeescript .javascript,pre .javascript .xml,pre .tex .formula,pre .xml .javascript,pre .xml .vbscript,pre .xml .css,pre .xml .cdata {
      opacity: 0.5
    }
}